@import "../../styles/colors";
@import "../../styles/fonts";

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.plan {
  margin-top: 160px;
  padding: 40px 0 243px 0;
  background-image: url(../../imgs/sky.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.plan__underline::after {
  content: url(../../imgs/plan-underline.svg);
}

.plan__steps {
  width: 1303.71px;
  height: 448px;
  margin: 0 auto;
  margin-top: 132px;
  background-image: url(../../imgs/Пунктир.svg);
  position: relative;

  .one {
    top: -45px;
    left: -68px;
  }

  .two {
    top: 158px;
    left: 398px;
  }

  .three {
    top: 374px;
    right: 37px;
  }
}

.plan__step {
  display: flex;
  position: absolute;
}

.plan__step__number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange;
  font-family: $mainTextFont;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.plan__step-caption {
  font-family: $mainTextFont;
  color: $additionTextColor;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding-left: 40px;
  a {
    text-decoration: underline;
    color: $textAccentColor;
  }
  opacity: 0;
}

.plan__step-caption_one {
  animation: appearance 2s ease 1.1s 1;
}
.plan__step-caption_two {
  animation: appearance 2s ease 1.9s 1;
}
.plan__step-caption_three {
  animation: appearance 2s ease 2.7s 1;
}

.plan__step-caption_visible {
  opacity: 1;
}
