$orange: #ff652f;

// backgrounds
$pageBackgrondColor: #f5f5f5;
$mainBackgroundColor: #fff;
$cosmosNavyGrad: linear-gradient(326.12deg, #5d77ff 17.95%, #6539c1 89.78%);

// text
$mainTextColor: #1f1d2a;
$additionTextColor: #4f5569;
$textAccentColor: #14a76c;
$captionColor: #9fa0a7;
$timerColor: #ff652f;

// buttons
$mainButtonColor: #14a76c;
$additionButtonColor: #e02d05;
