// imports
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Rubik:wght@400;700&display=swap");

//reset
h1,
h2,
p,
input,
button,
ul,
li {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
